@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');
* {
    font-family: 'Karla';
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    
}
body {
    padding: 5%;
    padding-top: 2%;
}
.header-logo {
    width: 120px;
}